.headerContainer {
  border-bottom: 1px solid var(--gray-850);
  height: 5rem;
}

.headerContent {
  display: flex;
  align-items: center;
  justify-content: space-between;

  height: 100%;
  margin: 0 auto;
  max-width: 1128px;
  padding: 0 2rem;

  @media (max-width: 360px) {
    padding: 0 1rem;
  }

  h1 {
    @media screen and (max-width: 500px) {
      font-size: 1.5rem;
    }
  }

  nav {
    height: 100%;
    margin-left: 5rem;

    @media (max-width: 360px) {
      margin-left: 0.5rem;
      min-width: 40%;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0 1rem;
    }

    @media (max-width: 540px) {
      margin-left: 1.5rem;
    }

    a {
      color: var(--gray-300);
      display: inline-block;
      height: 100%;
      line-height: 5rem;
      padding: 0 2rem;
      position: relative;

      &:hover {
        color: var(--white);
      }

      transition: color 0.2s;

      &.active {
        color: var(--white);
        font-weight: 500;
      }

      &.active::after {
        background: var(--yellow-500);
        border-radius: 3px 3px 0 0;
        content: '';
        height: 3px;
        width: 100%;

        position: absolute;
        bottom: 0;
        left: 0;
      }
    }
  }

  .menuComponent {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media screen and (max-width: 500px) {
      padding: 1rem;
      .a {
        order: 2;
      }
      .b {
        margin-left: 1rem;
      }
    }
  }

  button {
    margin-left: auto;
  }
}
