.hamburgerMenu {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-left: 2rem;
}

.mobileMenu {
  position: absolute;
  top: 0;
  right: 0;
  width: 40%;
  height: 100%;
  background-color: gray;
  opacity: 0.9;
  z-index: 1;
  padding: 20px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);

  a {
    display: block;
    font-size: 1rem;
    color: #000;
    margin-bottom: 10px;
    text-decoration: none;

    &.active {
      font-weight: bold;
      color: var(--yellow-500);
    }
  }
}
