.container {
  width: 100%;
  nav {
    height: 100%;
    // margin-left: 5rem;

    // @media (max-width: 360px) {
    //   margin-left: 1rem;
    // }

    a {
      color: var(--gray-300);
      display: inline-block;
      height: 100%;
      line-height: 5rem;
      padding: 0 0.5rem;
      position: relative;

      & + a {
        margin-left: 2rem;
      }

      &:hover {
        color: var(--white);
      }

      transition: color 0.2s;

      &.active {
        color: var(--white);
        font-weight: 500;
        display: block;
        width: 60px;
      }

      &.active::after {
        background: var(--yellow-500);
        border-radius: 3px 3px 0 0;
        content: '';
        height: 3px;
        width: 100%;

        position: absolute;
        bottom: 0;
        left: 0;
      }
    }
  }
}
